# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=QR Code Generator

# SEO
NEXT_PUBLIC_SITE_DESCRIPTION=Free online QR Code Generator. Create custom QR codes for URL, WiFi, WhatsApp, UPI, Email, and Text.
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX

# Adsense (optional)
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX